:root {
  --bg-light: #e6e6e6;
  --bg-accent: #d8a600;
  --text-dark: #0c0c0c;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-dark);
}

a {
  text-decoration: none;
}

a:visited,
a:focus,
a:active {
  color: var(--text-dark);
}

.container {
  min-height: 100%;
  background-color: var(--bg-light);
}

.header {
  padding: 1rem 2rem;
  background-color: var(--bg-accent);
}

.header__nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.photos,
.cart {
  padding: 2rem;
}